<div class="jumbotron foot">
<footer role="contentinfo" class="footer footer-default">
	<nav class="row">
        <div class="col-xs-6 col-sm-4 col-md-2">
        	<h3 class="nav-title">Company</h3>
        	<ul class="nav">
        	<li>
    		<a href="/uk/about-us/contact/" id="nav-link-about" data-ga-category="menu" data-ga-action="about">
      		About</a>
  			</li>

  			<li>
    			<a href="https://www.spotifyjobs.com/" id="nav-link-jobs" data-ga-category="menu" data-ga-action="jobs">
      Jobs
                </a>
  </li>

  <li>
    <a href="https://newsroom.spotify.com/" id="nav-link-press" data-ga-category="menu" data-ga-action="press">
      For the Record
                </a>
  </li>

        </ul>
      </div>

            <div class="col-xs-6 col-sm-4 col-md-2">
        <h3 class="nav-title">Communities</h3>
        <ul class="nav">
          
  <li>
    <a href="https://artists.spotify.com/" id="nav-link-artists" data-ga-category="menu" data-ga-action="artists">
      For Artists
                </a>
  </li>

  <li>
    <a href="https://developer.spotify.com/" id="nav-link-developers" data-ga-category="menu" data-ga-action="developers">
      Developers
                </a>
  </li>

  <li>
    <a href="/uk/brands/" id="nav-link-brands" data-ga-category="menu" data-ga-action="brands">
      Brands
                </a>
  </li>

  <li>
    <a href="https://investors.spotify.com/" id="nav-link-investors" data-ga-category="menu" data-ga-action="investors">
      Investors
                </a>
  </li>

  <li>
    <a href="https://spotifyforvendors.com/" id="nav-link-vendors" data-ga-category="menu" data-ga-action="vendors">
      Vendors
                </a>
  </li>

        </ul>
      </div>

            <div class="col-xs-6 col-sm-4 col-md-2">
        <h3 class="nav-title">Useful links</h3>
        <ul class="nav">
            <li>
    <a href="https://support.spotify.com/?utm_source=www.spotify.com&amp;utm_medium=www_footer" id="nav-link-help" data-ga-category="menu" data-ga-action="help">
      Help
                </a>
  </li>

  <li>
    <a href="/uk/purchase/ecards/"   >
      Gift
                </a>
  </li>

  <li class="hidden-xs ">
    <a href="/uk/redirect/webplayerlink/?utm_medium=www_footer" id="nav-link-play" data-ga-category="menu" data-ga-action="play">
      Web Player
                </a>
  </li>

    <li class="visible-xs hidden-sm ">
    <a href="/uk/free/?utm_medium=www_footer" id="nav-link-free" data-ga-category="menu" data-ga-action="free">
      Free Mobile App
                </a>
  </li>

        </ul>
      </div>

              
    </nav>
      <small class="copyright" style="color:white;padding-top:20px;margin-top:700px">© Nikhil Yadav</small>

  </footer>
    </div>
</body>
</html>